<div class="cbp-l-member-img">
	<?php echo $this->Html->image('doctors/'.$doctor['Doctor']['photo'],array('width'=>'300px'));?>
</div>
<div

class="cbp-l-member-info">
	<div class="cbp-l-member-name"><?php echo $doctor['Doctor']['name'];?></div>
	<div

class="cbp-l-member-position"><?php echo $doctor['Doctor']['specialist'];?></div>
	<div class="cbp-l-member-desc"></div>
</div>
