<?php $doctors = AppHelper::getDoctors();?>
<section id="doctor" class="home-section bg-gray paddingbot-60">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="section-heading text-center">
            <h2 class="h-bold">Doctors</h2>
            <p>Ea melius ceteros oportere quo, pri habeo viderer facilisi ei</p>
          </div>
        </div>
        <div class="divider-short"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div id="filters-container" class="cbp-l-filters-alignLeft">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All (
            <div class="cbp-filter-counter"></div>)</div>
            <?php
              $uniqueList = array();
              foreach ($doctors as $doctor):
                array_push($uniqueList, $doctor['Doctor']['specialist']);
              endforeach;
              $uniqueList = array_unique($uniqueList);
              foreach ($uniqueList as $list):
            ?>
          <div data-filter=".<?php echo $list;?>" class="cbp-filter-item"><?php echo $list;?> (
            <div class="cbp-filter-counter"></div>)</div>
          <?php endforeach;?>
          <!-- <div data-filter=".psychiatrist" class="cbp-filter-item">Psychiatrist (
            <div class="cbp-filter-counter"></div>)</div>
          <div data-filter=".neurologist" class="cbp-filter-item">Neurologist (
            <div class="cbp-filter-counter"></div>)</div> -->
        </div>

        <div id="grid-container" class="cbp-l-grid-team">
          <ul>
            <?php foreach ($doctors as $doctor): ?>
            <li class="cbp-item <?php echo h($doctor['Doctor']['specialist']);?>">
              <a href="<?php echo  $this->Html->url('/doctors/view/'.$doctor['Doctor']['id']);?>" class="cbp-caption cbp-singlePage">
                <div class="cbp-caption-defaultWrap">
                  <?php echo $this->Html->image('doctors/'.$doctor['Doctor']['photo'],['width'=>'100%','alt'=>'']); ?>
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-text">VIEW PROFILE</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="<?php echo $this->Html->url('/doctors/view/'.$doctor['Doctor']['id']);?>" class="cbp-singlePage cbp-l-grid-team-name"><?php echo ucfirst(h($doctor['Doctor']['name']))?></a>
              <div class="cbp-l-grid-team-position"><?php echo ucfirst(h($doctor['Doctor']['specialist']));?></div>
            </li>
          <?php endforeach; ?>
            <!-- <li class="cbp-item cardiologist">
              <a href="" class="cbp-caption cbp-singlePage">
                <div class="cbp-caption-defaultWrap">
                  <?php //echo $this->Html->image('front/team/2.jpg',['width'=>'100%','alt'=>'']); ?>
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-text">VIEW PROFILE</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="" class="cbp-singlePage cbp-l-grid-team-name">Joseph Murphy</a>
              <div class="cbp-l-grid-team-position">Cardiologist</div>
            </li>
            <li class="cbp-item cardiologist">
              <a href="" class="cbp-caption cbp-singlePage">
                <div class="cbp-caption-defaultWrap">
                  <?php //echo $this->Html->image('front/team/3.jpg',['width'=>'100%','alt'=>'']); ?>
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-text">VIEW PROFILE</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="" class="cbp-singlePage cbp-l-grid-team-name">Alison Davis</a>
              <div class="cbp-l-grid-team-position">Cardiologist</div>
            </li>
            <li class="cbp-item neurologist">
              <a href="" class="cbp-caption cbp-singlePage">
                <div class="cbp-caption-defaultWrap">
                  <?php //echo $this->Html->image('front/team/4.jpg',['width'=>'100%','alt'=>'']); ?>
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-text">VIEW PROFILE</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="" class="cbp-singlePage cbp-l-grid-team-name">Adam Taylor</a>
              <div class="cbp-l-grid-team-position">Neurologist</div>
            </li> -->

          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
